@model EventManagementSystem.ViewModels.AttendeeViewModel

@{
    ViewData["Title"] = "Edit Attendee";
}

<h1>Edit Attendee</h1>

<div>
    <form asp-action="Edit">
        <input type="hidden" asp-for="Attendee.Id" />
        <partial name="_AttendeeForm" model="Model.Attendee" />
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
